%div#parallax					
	=image_tag("leaf-1.png", :class => "leaf-1")
	=image_tag("leaf-2.png", :class => "leaf-2")
	=image_tag("leaf-3.png", :class => "leaf-3")
	=image_tag("leaf-4.png", :class => "leaf-4")
	=image_tag("leaf-5.png", :class => "leaf-5")
	=image_tag("leaf-6.png", :class => "leaf-6")
	=image_tag("bubble-1.png", :class => "bubble-1")
	=image_tag("bubble-2.png", :class => "bubble-2")
	=image_tag("bubble-3.png", :class => "bubble-3")
	=image_tag("bubble-4.png", :class => "bubble-4")
	=image_tag("bubble-5.png", :class => "bubble-5")
	=image_tag("bubble-6.png", :class => "bubble-6")
	=image_tag("bubble-7.png", :class => "bubble-7")
	=image_tag("bubble-8.png", :class => "bubble-8")

