%div.wrap_big.h-desc
	= image_tag("sld_1.png")
	%div.desc 
		%p.item-1 Современная
		%p.item-2 ДОСТАВКА ГРУЗОВ
		%p.item-3 оперативно и надежно
.wrap
	%section		
		.row		
			.span2-5
				%h3 Услуги
			.span3
				%h3 Контейнерные			
			.span3
				%h3 грузы Po-Po
			.span3
				%h3 навалочные грузы
	%section
		.row
			.span2-5
				%p 02 декабря
				%p На чемпионате Европы Украина сыграет с Англией, Францией и Швецией 02 декабря
			.span3
				%p 14 мая
				%p В Москве, в концертном зале «Известия Холл» прошла долгожданная презентация легендарного бизнес седана Honda Accord 01 декабря
			.span3
				%p 21ноября
				%p УЕФА завел дисциплинарное дело на Луиса Адриану. Лига чемпионов 21 ноября
			.span3
				%p Спец. предложения по перевозке комбайнов
