- content_for :scroll do
	%link{:rel => "stylesheet", :href => "/assets/dzsscroller/scroller.css"}
	%link{:rel => "stylesheet", :href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}
	%link{:rel => "stylesheet", :href => "/assets/datepicker/datepicker.css"}	
	%script{:src => "http://code.jquery.com/jquery-migrate-1.2.1.js"}	
	%script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
	%script{:src => "/assets/datepicker/jquery.ui.datepicker-ru.js"}
	%script{:src => "/assets/datepicker/init.js"}
	%script{:src => "/assets/dzsscroller/scroller.js"}
	%script{:src => "/assets/dzsscroller/init.js"}	
.wrap
	.row
		= render 'nav/sidebar'
		.span6
			.h-span6
				%h2 Новости
				%h3 
					=@news.last.title
				%div.date
					=@news.last.created_at.day
					%span						
						=I18n.l @news.last.created_at, :format => :custom
				%div.single
					=image_tag @news.last.image_url(:thumb).to_s
					%div 
						=@news.last.content.html_safe
			.news
				%h3 Все новости				
				%div{ :id => "scrollc4", :class => "scroller-con", :style => "width: 700px; height: 150px;" }
					%div{ :class => "inner", :style => "width: 1250px; height: 150px;" }		
						- @news.each do |new|	
							.span2	
								.h-span
									%div.date
										=new.created_at.day 
										%span 
											=I18n.l new.created_at, :format => :custom	
									.h-redline	
										= link_to new do
											<span>#{new.title}</span>
												
									
						