- content_for :scroll do
	%link{:rel => "stylesheet", :href => "/assets/dzsscroller/scroller.css"}
	%link{:rel => "stylesheet", :href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}
	%link{:rel => "stylesheet", :href => "/assets/datepicker/datepicker.css"}	
	%script{:src => "http://code.jquery.com/jquery-migrate-1.2.1.js"}	
	%script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
	%script{:src => "/assets/datepicker/jquery.ui.datepicker-ru.js"}
	%script{:src => "/assets/datepicker/init.js"}
	%script{:src => "/assets/dzsscroller/scroller.js"}
	%script{:src => "/assets/dzsscroller/init.js"}	
.wrap
	.row
		= render 'nav/sidebar'
		.span6
			.h-span6
				%h2 Новости
				%h3 Киевсовет разрешил «скрытую приватизацию»
				%div.date
					14 
					%span мая
				%div.single
					%img{ :src => "assets/single-news.jpg"}
					%p Депутаты Киевсовета реорганизовали 8 кинотеатров в коммунальную собственность территориальной общины города и присоединили их к КП "Киевкинофильм". За это решение проголосовало 72 депутата.
					%p	Согласно решения Киевгорадминистрации, будет создана специальная комиссия, которая осуществит организационно-правовые мероприятия и утвердит передаточные акты. 
					%p "Например кинотеатр" Киевская Русь ", помещение которого - несколько тысяч кв.метров - находится 15 лет в аренде и платит всего 2000 долларов за нее. Кинотеатр уже доведен до полного упадка. Это позор, такого не должно быть ", - говорит с трибуны Виктор Корж, заместитель председателя КГГА.
					%p В кулуарах Виктор Корж пояснил, что директора кинотеатров заключили копеечные договоры аренды, которые не отражают стоимость уставных фондов. Из-за них горд не досчитался около 3, 5 млн грн. Убытки не оговорены неэффективностью заведения, а сознательным занижением арендной платы, убежден он.
					%p "Решениями судов некоторые директора назначали себя пожизненно на эту должность. Это же абсурд. Гражданам все равно в каком юридическом статусе находятся кинотеатры. Им важно получить доступную услугу по приемлемой цене. Мы принимаем это решение для притока инвестиций ", - отметил он.
					%p Заместитель председателя КГГА заверил, что перепрофилирование этих учреждений невозможно.
			.news
				%h3 Все новости				
				%div{ :id => "scrollc4", :class => "scroller-con", :style => "width: 700px; height: 150px;" }
					%div{ :class => "inner", :style => "width: 1250px; height: 150px;" }
						.span2
							.h-span
								%div.date
									02 
									%span декабря	
								.h-redline					
									%a{ :href=> "/" } 
										%span На чемпионате Европы Украина сыграет с Англией, Францией и Швецией 02 декабря
						.span2
							.h-span
								%div.date
									14 
									%span мая				
								.h-redline
									%a{ :href=> "/" } 
										%span В Москве, в концертном зале «Известия Холл» прошла долгожданная презентация легендарного бизнес седана Honda Accord
						.span2
							.h-span
								%div.date
									21 
									%span декабря				
								.h-redline
									%a{ :href=> "/" } 
										%span УЕФА завел дисциплинарное дело Луиса Адриану. Лига чемпионов 21 ноября
						.span2
							.h-span
								%div.date
									14 
									%span мая	
								.h-redline				
									%a{ :href=> "/" } 
										%span На чемпионате Европы Украина сыграет с Англией, Францией и Швецией 02 декабря
						.span2
							.h-span
								%div.date
									14 
									%span мая					
								.h-redline	
									%a{ :href=> "/" } 
										%span На чемпионате Европы Украина сыграет с Англией, Францией и Швецией 02 декабря
					
