.wrap
	.row
		= render 'nav/sidebar'
		.span6
			%h2 MICS Group profile
			%h3 Main activies
			.span5-1
				%ul
					%li Freight forwarding (NVOCC)
					%li Liner/commercial agency (incl husbandry services)
					%li In-port container equipment tracing/supervision (for container lines) in Odessa/Ilyichevsk ports
					%li In-port handling services (stuffing, warehousing, customs brokerage, lashing, pre-shipment cargo preparation and other related ops)
					%li Heavy-lift cargo handling
					%li Break bulk cargoes handling
					%li Rail and truck inland haulage
					%li Chartering
				%h3 Higlights
			.span5-1
				.service-ico
					= image_tag("office-ico.png")		
					%a{:href => "/"} 3 offices in Ilychevsk and Odessa
				.service-ico
					= image_tag("people-ico.png")		
					%a{:href => "/"} Staff over 60 persons
				.service-ico
					= image_tag("cup-ico.png")		
					%a{:href => "/"} Our awards
				%p TEU/month in-port container equipment control for container lines (tally, supervision, executive bayplans perfomance)
				%p Freight forwarding / liner agency services		

