@mixin rounded_corners($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin wrapper($w) {
	margin: 0 auto;
	width: $w;	
}
@mixin reset {
	margin: 0;
	padding: 0;
}
@mixin setFont($font, $size, $color) {
	font-family: '#{$font}', sans-serif;
	font-size: $size;
	color: $color;
}
@mixin bgGradient($image, $color1, $color2, $color3) {
	background-color: $color1;
	background-image: url($image), -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2), color-stop(.6,$color3));
	background-image: url($image), -moz-linear-gradient(19% 75% 90deg, $color3, $color2, $color1 100%);
	background-image: url($image), -o-linear-gradient(90deg,$color3 50% ,$color1 75%);
	background-attachment:fixed;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

$footerHght: 234px;
$wrapWidth: 965px;
$width_2-5: 220px;
