// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "general";

#contact_controller {
	.span2 > img {
		margin-top: 110px;
	}
	.span6 {
		h2 {			
			@include setFont(PTSansNarrowRegular, 46px, #1c3445);
			margin-top: 5px;
			margin-bottom: 15px;
		}
		h3 {
			@include setFont(PTSansNarrowRegular, 36px, #1c3445);
		}
		.span5-6 {
			margin-left: 25px;
			width: 480px;
		}
		.span5-6 > h3 {
			margin: 68px 0 0 0;
		}
		.span2-3 {
			.address {
				padding-left: 25px;
			}			
			width: 230px;	
			h3 {
				margin: 75px 0 0 0;
			}		
			span {
				clear: left;
			}
			.adr {
				span {
					display: inline-block;
					clear: left;
					font-size: 14px;
					&:last-child {
						margin-top: 13px;
					}
				}	
				margin-bottom: 8px;			
			}
			.tel {
				@include reset;
				color: #1e4a6b;
				font-size: 24px;
			}
			.email {
				a {
					color: #1e4a6b;
					font-size: 13px;
					&:hover {
						text-decoration: none;
					}
				}
			}			
		}
	}

	[class*="h-span"] {
		span {
			display: inline-block;
			clear: left;
		}
		i, p, span, b {
			font-size: 13px;
		}
		div {
			&:first-child + div {
				margin-left: 20px;
				padding-right: 20px;
			}
		}		
	}
	.h-span2-3 {
		margin-top: 80px;
		margin-bottom: 100px;		
	}
}