// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "general";

body {
	color: #1c3445;
	font-family: Arial, sans-serif !important;
	overflow-x: hidden;
}
#map {
	height: 300px;
	width: 480px;
	margin: 0;
}
html, body {
	height: 100%;
}
h3 {
	font-weight: normal;
}
.main {
	min-height: 100%;
}
.pull-right {
	float: right;	
}
.pull-left {
	float: left;
}
.mv-center {
	text-align: center;	
}
.row {
	@include wrapper(995px);
	display: table;	
}
.row [class*="span"] {
	float: left;
	display: block;
	box-sizing: border-box;
}
.range {
	display: table;
}
.span2-5 {
	width: $width_2-5;
}	
.span3 {
	width: ($wrapWidth - $width_2-5)/3;
}
.span4 {
	width: $wrapWidth / 3;
}
.span2 {
	width: 250px;
}
.span4-5 {
	width: 280px;
} 
.span5-1 {
	width: 360px;
}
.span5 {
	width: 385px;
} 
.span6 {
	width: 735px;
}
#index_controller {
	.main {	
		background: #f5f8fa url(bg.jpg) repeat-x;		
	}
}
.hFooter { 
	height: $footerHght; 
}
.footer {
	background: url(footer_bg.jpg) repeat-x;
	height: 72px; 	
	margin-top: -$footerHght; 
	padding: 80px
}
.redline {
	@include setFont(PTSansRegular, 14px, #1b4d6f);
	color: #fa9881 !important;
	text-decoration: none;		
	border-bottom: 1px solid;
	&:hover {
		border-bottom: 1px solid #ff3908; 
	} 
	span {
		color:#1b4d6f;
		&:hover {
			color: #ff3908;
		}
	}
}
#parallax {
	position: absolute;	
	width:2600px;
	height:1200px;	
	z-index: 5;	
	margin-left: -350px;
	img {
		position: absolute;
	}
	.leaf_sml {
		margin-top: 285px;
		margin-left: 374px;
	}
	.leaf_mid {
		margin-left: 50px;
	}
	.leaf_big {
		margin-top: 24px;
		margin-left: -20px;
	}
	.bubble_sml { 
		margin-top: 223px;
		margin-left: 1230px;
	}
	.bubble_mid {
		margin-top: 92px;
		margin-left: 1234px;
	}
	.bubble_big {
		margin-left: 1350px;
	}
}
// *****************
// 		HEADER
// *****************
%upper_layout {
	position: relative;
	z-index: 55;
}
.header {
	h1 {
		float: left;
		margin-top: 13px;
		margin-left: 18px;
		position: relative;
	}
	ul {		
		background: url(main-menu-bg.jpg) repeat-x;
		list-style: none;	
			
	}
	.hdr-menu-border {		
	    margin-right: -1px;
	    margin-top: 62px;
	    float: right;
	}
	ul.hdr-menu {
		@include rounded_corners(10px 0 0 0);
		border-top: 1px solid #e0e5ea;
		border-bottom: 1px solid #e0e5ea;
		border-left: 1px solid #e0e5ea;
		padding: 0 10px;
		li:first-child {
			background: none;
		}
		li {
			background: url(nav-brd.png) no-repeat left center;
			display: inline-block;
			margin-left: -4px;
			padding: 18px 21px;
			position: relative;
			a {
				@extend %upper_layout;
				font-family: 'PTSansNarrowRegular', sans-serif;
				text-decoration: none;
				color: #1b4d6f;
				font-size: 18px;
				text-shadow: 0 0 2px #fefefe;				
				&:hover {
					text-decoration:underline;
				}
			}	
		}
		.active {
			background: url(menu-active-bg.png) repeat-x !important;
			a {
				color: #fff;
				text-shadow: none;				
			}
		}
		:last-child {
			border-right: none;
		}
	}
	.nav-stick {
			background: url(nav-brd-btw.jpg) no-repeat;
			border-top: 1px solid #e0e5ea;
			border-bottom: 1px solid #e0e5ea;
			height: 56px;
			margin-top: 16px;
			width: 3px;
	}
	ul.hdr-lang {
		@include rounded_corners(0 10px 10px 0);
		border-top: 1px solid #e0e5ea;
		border-bottom: 1px solid #e0e5ea;
		border-right: 1px solid #e0e5ea;
		height: 56px;
		margin-right: 23px;				
		padding-left: 0;
		p {
			margin: 9px 0;
		}
		li {
			padding: 0 30px;
			text-align: center;
			a {
				@include setFont(PTSansNarrowRegular, 16px, #2f5d7c);
				@extend %upper_layout;
				text-decoration: underline;				
				&:hover { 
					text-decoration: none;
				}
			}
			.active {							
				background: #274861;
				@include rounded_corners(9px);
				color: #fff;	
				padding: 3px 13px;
				text-decoration: none;
			}
		}
	}	
}
section {
	clear: left;
}
.wrap {
	@include wrapper(975px);
}
.wrap_big {
	@include wrapper(1250px);
	margin-top: -128px;
	min-height: 480px;
	[class*="top-img"]  {
		display: none !important;
	}
	.active {
		display: block !important;
	}
}
.desc {
	margin-top: 10px;
	margin-left: 18px;
	position: relative;
	z-index: 50;
	.item-1 {
		@include setFont(PTSansNarrowRegular, 30px, #fefefe);
		text-shadow: 1px -1px 0px #91a4b4;
	}
	.item-2 {
		@include setFont(PTSansNarrowBold, 40px, #fefefe);
		line-height: 1;
		text-shadow: 1px -1px 0px #91a4b4;
	}
	.item-3 {
		@include setFont(PTSansRegular, 20px, #fefefe);	
	}
	[class*="item"] {
		@include reset;
	}
}
// *****************
// 		NAV
// *****************
.nav {
	margin-top: 20px;
	position: relative;
	z-index: 6;
	.span2-5 {
		background: url(nav-1-bg.png) no-repeat;
		float: left;		
		height: 88px;
		line-height: 1;
		padding: 13px 0 0 18px;
		width: 205px;
		h3 {
			@include setFont(PTSansNarrowBold, 36px, #919ea8);
			@include reset;
		}
		p {
			@include setFont(PTSansNarrowRegular, 15px, #7f7f7f);
			@include reset;
			width: 116px;
		}
	}
	.nav-menu {
		background: url(nav-menu-active-1.png) no-repeat;
		cursor: pointer;
		float: left;
		height: 66px;
		padding: 25px 0 3px 0;
		width: 749px;	
		.span3.active {
			p {
				background: none !important;
			}
		}	
		.span3 {
			@include setFont(PTSansNarrowRegular, 24px, #101e2c);	
			p {
				background: url(menu-hover-underline.png) repeat-x 0px 25px;
				float: left;
				margin: 18px 0 0 25px;
			}	
		}			
	}
	@for $i from 1 through 3 {
		.nav-menu-bg-#{$i} {
			background-image: url(nav-menu-active-#{$i}.png);
			background-repeat: no-repeat no-repeat;
	}
	}	
	@for $i from 1 through 3 {
		.hover-item-#{$i} {
			background-image: url(nav-hover-item-#{$i}.png);
			background-repeat: no-repeat no-repeat;
		}
	}
}
// *****************
// 		NEWS
// *****************
.news {
	margin-top: 15px;
	position: relative;
	z-index: 6;	
	.h-news-single {
		padding: 0 14px 0 10px;
	}
	h4 {
		@include setFont(PTSansNarrowRegular, 30px, #919ea8);
		font-weight: normal;
		margin-bottom: 0;
		span {
			font-size: 14px;
		}
	}
	a {
		line-height: 1.3;
		margin-top: 7px;
	}
	.span3:nth-child(4) {
		margin-top: 35px;
		a {
			@include setFont(PTSansNarrowRegular, 24px, #203c50);
			line-height: 1.2;			
		}
	}	
}
.news-out {
	.redline {
		border-bottom: none;
	}
	margin: -20px 0 80px;
	position: relative;
	z-index: 6;
	a {
		color: #1b4d6f;
		font-size: 14px;
		text-decoration: none;
		&:hover { 
			border-bottom: 1px solid;
		}
	}
}

// *****************
// 		FOOTER
// *****************

.footer {
	font-family: 'PTSansRegular', sans-serif !important;
	.row {
		.span4 {
			@extend %upper_layout;
			&:first-child {
				p {
					width: 250px;
				}
				img {
					float: left;
					margin-right: 9px;
					margin-top: 7px;
				}
			}
			&:first-child + .span4 {
				p {
					@include setFont(PTSansNarrowRegular, 36px, #2d2d2d);
					height: 35px;
					margin: 6px 0 0 -60px;
					span {
						@include setFont(PTSansRegular, 13px, #2d2d2d);
					}
					sup {
						color: #919ea8;
						top: -12px;
						font-size: 16px;	
					}
				}
				div {
						margin-top: -14px;
				}
				img {
					display: inline-block;					
					margin: -9px 65px 0 -86px;
				}
				.redline {
					display: inline-block;
					span {
						color: #1b4d6f;
					}
				}
			}
			&:first-child + .span4 + .span4 {
				text-align: left;
				img {
					float: left;
					margin: 8px 13px 0 64px;
				}
			}
		}
		p {
			font-size: 13px;
		}
	}
}