// Place all the styles related to the service controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "general";

// *****************
// 		ICONS
// *****************

%ico {
	width: 80px;
	float: left;
	text-align: center;
	a {	
		@include setFont(PTSansNarrowRegular, 18px, #1e4a6b);	
		border-bottom: 1px dashed #1e4a6b;	
		padding-top: 82px;
		text-align: center;		
		text-decoration: none;
		&:hover {
			border: none;	
		}
	}
}
.ico {
	@extend %ico;	
	.content-1 & {
		float: left;
		margin: 95px 0 0 20px;	
	}
	.content-2 & {		
		margin-left: 50px;		
	}
	.content-3 & {
		margin: 185px 0 0 60px;
	}
}
.content-4, .content-5 {
	.pull-left {
		margin: 20px 0 20px 175px;
		.ico {
			margin-left: 60px;
		}
	}

}

// *****************
// 		SIDEBAR
// *****************
.main {
	@include bgGradient('service-bg.png', #89a4bb, #dce4e9, #dfe7ed);
	//background: #dfe7ed url(service-bg.jpg) no-repeat top center;	
}
.cat-list {
	ul {
		background: url(cat-list-bg-2.png) no-repeat;
	}
}
%cat-ul {
	@include reset;
	cursor:pointer;
	list-style: none;
	margin: 7px 0;
	overflow: hidden;
	width: 233px;
	li {
		text-decoration: none;
	}
	a {		
		border-bottom: 1px dashed #1e4a6b;
		color: #1e4a6b;
		text-decoration: none;
		&:hover {
			border-bottom: none;
		}
	}
}
%hover-active {
	background: #cfd9e1 url(cat-list-hover.png) no-repeat 4px 17px;		
	a {
		color: #ff7800;
		border-bottom: none;
	}	
}
.span2 {
	height: 1px;
}
.cat-list {	
	h2 {
		@include setFont(PTSansNarrowBold, 30px, #859099);
		line-height: 1;
		margin: 0;
		padding: 0 0 0 18px;
		text-shadow: 0 1px 0 #fefefe;
		width: 100px;
		span {
			font-size: 15px;
		}
	}
	.active.height {
		height: auto;
		.pull-right {
			display: block;
		}	
	}
	ul {
		li {
			background: none;
			clear: left;
			img {
				&:first-child {
					float:left;
					margin-top: 5px;
				}
			}
			p {
				@include setFont(PTSansNarrowRegular, 24px, #101e2c);
				background: url(menu-hover-underline.png) repeat-x 0px 25px;
				clear: left;
				float: left;
				margin: 1px 0 15px 0;
				padding-bottom: 2px;
				&:hover {
					background: none;
					color: #ff3908;
				}
			}
			line-height: 1.1;
			padding: 16px 14px 5px 23px;
			&:first-child {
				height: 65px;
			}	
		}
		.pull-right {
			display: none;
		}	
		@extend %cat-ul;		
		border: none;
		height: 86px;						
	}
	ul.active {
			li {			
			&:first-child {	
				@include rounded_corners (20px 20px 0 0);							
				background: #244159;
				font-size: 20px;
				text-decoration: none;					
				p {
					@include setFont(PTSansNarrowRegular, 24px, #101e2c);	
					background: none;				
					margin: 5px 0 15px 0;
				}
				&:hover {
					color: #101e2c;
					background: none;
				}
				.pull-right {
					display: block;
				}
			}
			&:first-child + li {
				@include rounded_corners (15px 15px 0 0);				
			}
			&:last-child {
				@include rounded_corners (0 0 15px 15px);
				padding-bottom: 20px	
			}
			&:hover {
				@extend %hover-active;
			}
				@include setFont(PTSansNarrowRegular, 16px, #1e4a6b);
				background: #cfd9e1;											
			}
			.active {
			 	@extend %hover-active;
			}
			@extend %cat-ul;
			@include rounded_corners (15px);			
			background: #244159 !important;
			border: 2px solid #244159;						
	}
}

#service_controller {
	.cat-list {
		position: fixed;
		ul {
			background: url(cat-list-bg.png) no-repeat;
		}
	}
	.span2, .span6 {
		margin-top: 100px;
	}
	.header {
		position: fixed;
		width: 995px;
		z-index: 20;
	}
}

// *****************
// 		CONTENT
// *****************

%sign {
	background: #1d3649;
	font: italic 24px Georgia, serif;
	color: #dfe7ed;	
	padding: 15px 30px;
	position: absolute;	
}
.span6 {	
	[class*="content"] {
		clear: left;		
	}
	.active {
		display: block !important;
	}
	[class*="content"] {	
		h2 {
			@include setFont(PTSansNarrowRegular, 46px, #1c3445);
			margin: 0;
		}
		p {
			color: #1c3445;
			font-size: 13px;	
			line-height: 1.5;				
		}
		.sign {
			@extend %sign;						
		}
		.aside {
			position: relative;
		}
		.redline {
			float: left;
			clear: left;
		}	
		padding: 23px 0 0 39px;
	}
	.content-1 {
		p {
			line-height: 1.6;
			width: 85%;
		}
		.sign {
			margin-left: -23px;
			top: 254px;
			width: 70%;	 
		}
		.aside {
			position: relative;
			img {
				&:last-child {
					margin: 97px 0 10px 33px;
				}
			}
		}
	}
	.content-2 {
		p {
			&:first-child {
				width: 89%;
			}			
		}
		.span5 {
			.sign {
				top: 220px;
				width: 605px;
			}
			img {
				margin-top: 77px;
			}
			position: relative;
		}
		.span4-5 {
			img {	
				&:first-child {
					margin-top: 20px;
				}
				&:first-child + img {
					margin: 10px 40px 0 40px;
				}
			}			
		}
	}
	.content-3 {
		p {
			&:first-child {
				margin-top: 22px;
				width: 90%;
			}
		}
		.sign {
			margin-left: -23px;
			top: 50px; 
		}
		img {
			&:first-child  {
				float:left;
			}
			&:first-child + img {
				margin: 180px 0 0 20px;
			}				
		}
	}
	.content-4 {
		.sign {
			top: 120px;
			margin-left: -23px;
			width: 530px;
		}
		.pull-right {
			img {
				margin: 20px 0 0 80px;
			}
			margin-right: 40px;
		}
	}
	.content-5 {		
		.span5 {
			img {
				position: absolute;
				right: 35px;
				top: 0;
				z-index: 19;
			}
		}
		.pull-right {
			img {
				margin: 20px 0 0 80px;
			}
			margin-right: 40px;
			margin-bottom: 20px;
		}
		.sign {
			top: 400px;
			margin-left: -23px;
			width: 550px;
		}		
	}
}