.wrap
	.row
		.span4
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, voluptas culpa similique odit maiores iure perferendis hic soluta optio animi nisi reiciendis iusto beatae illo numquam pariatur sapiente veritatis? Animi.
		.span4
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur libero pariatur voluptas dolorem aut! Ex earum ut quis. Repellendus, aperiam, ea unde doloribus labore qui at quia ratione soluta nisi.
		.span4
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, accusamus, totam, inventore quo dignissimos perspiciatis itaque laudantium alias officiis magnam veritatis provident quod fugit. Molestias ratione vero saepe iusto beatae?