.wrap
	.row
		.span4
			= image_tag("ftr-c.png")
			%p Все права плюс свежая черника MICS Ltd, 2012
		.span4.mv-center
			%p 
				%sup +38
				022 722 546
			%div
				= image_tag("ftr-phone.png")
				%p.redline
					%span Контактная информация
		.span4.mv-center
			= image_tag("ftr-ico.png")		
			%p 
				Разработка и дизайн сайта: 
				%a{ :href=> "/", :class => "redline" }
					%span Hippocampus
				art united