.span2
	%h2.cat-title 
		%span НАШИ
		УСЛУГИ:
	.cat-list
		%ul
			%li				
				= image_tag("cat-list-top-ico.png", :class => "pull-right")
				%p контейнерные
		%ul
			%li				
				= image_tag("cat-list-top-ico.png", :class => "pull-right")
				%p грузы Ро-Ро
		%ul
			%li				
				= image_tag("cat-list-top-ico.png", :class => "pull-right")
				%p навалочные грузы
	- if current_page?(contact_path)			
		#map_small
	- if current_page?(news_path)			
		#datepicker		